[user]
	name = jjyao
	email = jeromeyjj@gmail.com
[color]
	ui = false
[core]
	editor = vim
[alias]
    ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
    theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
